
body{
    padding-bottom: 200px !important;
    background-color: #141414;
    background-image: url("fundo.jpg");
    background-size: cover;
}

 section{
    padding-bottom: 0px !important;
}

header{
    padding-top: 50px;
    font-size: 50px;
}

/* Limitar a largura do card */
.card {
    width: 900px !important;
    right: 25%;
    background-color: #0f0f0f !important;
}

.card img{
    width: 50%;
}

/* Ajuste para margens entre título e subtítulo */
.title, .subtitle {
    margin: 0; /* Remove margens extras */
}


input[type='date']{
    width: auto;
    height: 40px;
    font-size: 17px;
    border: none;
    padding: 10px;
    border: 1px solid #303030;
    padding: 10px;
    border-radius: 4px;
    background-image: url("stars.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
}

input[type="date"]:focus {
    box-shadow: 0px 0px 0px 1px #484848; /* Cor de sombra */
    background-color: #f4ecff;
    outline: none;
}

#explicacao{
    text-align: left;
    color: aliceblue;
}

#title{
    color: aliceblue;
}

label{
    color: #172d41;
    font-weight: 800;
    font-size: 25px
}