img{
    width: 5%;
}

header{
    margin-top: 100px;
}

body{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: #000000;
 }
 
 h1{
     color: #869aac;
 }
 
 input[type='text']{
     width: 200px;
     height: 30px;
     font-size: 20px;
     border-radius: 10px;
 }
 
 label{
     font-size: 25px;
     color: #869aac;
     font-weight: 800;
 }
 
 button{
     font-size: 20px;
 }

 #dados{
    background-color: #41414100;
    color: #ffffff;
    padding: 10px;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
 }

#dados img{
    border-radius: 100px;
    border: 0.5px solid #313030;
    width: 100%;
    background-repeat: no-repeat;
 }

 #dados p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: #dfdfdf;
 }

 #repos{
    margin: 0;
 }

