
body{
    padding-bottom: 20% !important;
    background-color: #ffffff;
    background-image: url("fundo.jpg");
    background-size: cover;
}

 section{
    padding-bottom: 0px !important;
    margin: 0;
}

header{
    padding-top: 50px;
    font-size: 50px;
}

/* Limitar a largura do card */
.card {
    width: 100% !important;
    max-width: 100%;
    max-height: 30% !important;
    background-color: #020815df !important;
    display: inline-flex;
    justify-content:center;
}

.card-image{
    padding: 10px;
    width: 40% !important;
    height: auto;
}

.card-content{
    width: 60%;
}
.card-image img{
    border-radius: 10px;
}


/* Ajuste para margens entre título e subtítulo */
.title, .subtitle {
    margin: 0; /* Remove margens extras */
}


input[type='date']{
    width: auto;
    height: 40px;
    font-size: 17px;
    border: none;
    padding: 10px;
    border: 1px solid #303030;
    padding: 10px;
    border-radius: 4px;
    background-image: url("stars.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
}

input[type="date"]:focus {
    box-shadow: 0px 0px 0px 1px #484848; /* Cor de sombra */
    background-color: #f4ecff;
    outline: none;
}

#explicacao{
    text-align: left;
    color: aliceblue;
}

#title{
    color: aliceblue;
}

label{
    color: #172d41;
    font-weight: 800;
    font-size: 25px;
}